@import './variables.css';

.badge-item {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin: 4px; /* Ajoute de l'espace entre les badges */
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.badge-unlocked {
  filter: none;
  opacity: 1;
}

.badge-locked {
  filter: grayscale(100%);
  opacity: 0.4;
}