@import './variables.css';

.home-container {
  text-align: center;
  margin-top: 4rem;
  font-family: 'Press Start 2P', cursive;
  color: #333;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2b2b2b;
  text-shadow: 2px 2px #ccc;
}

.home-menu button {
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 2px solid #444;
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 8px;
  width: 220px;
  transition: transform 0.2s ease;
}

.home-menu button:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.home-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}